<div class="page-container">
  <header>
    <app-header [titleOfQuestionnaire]="title"></app-header>
  </header>
  <div class="main-container">
    <div class="progress-container">
      <progress [value]="passedQuestions" [max]="totalQuestions"></progress>
      <p>{{ calculatePercentageOfCompletion() }}</p>
    </div>
    <div class="question-container" [ngClass]="specifyClass()">
      <app-question [question]="currentQuestion"></app-question>
    </div>
    <div class="required-text-container">
      <small *ngIf="currentQuestion.required">*Required*</small>
    </div>
    <div class="navigation-buttons-container">
      <app-navigation-buttons
        [isFirst]="isFirstQuestion"
        [isLast]="isLastQuestion">
      </app-navigation-buttons>
    </div>
    <br />
    <div class="description-container">
      <p>{{ description }}</p>
    </div>
  </div>
</div>
