<app-header></app-header>
<div class="main-container">
  <!-- <div class="progress-bar-container">
    <label for="progress-bar">Progress:</label>
    <progress
      id="progress-bar"
      [value]="passedQuestions"
      [max]="totalQuestions"
    ></progress>
  </div> -->
  <div class="question-container">
    <app-question [question]="currentQuestion"></app-question>
  </div>
  <div class="button-container">
    <button
      [disabled]="isFirstQuestion"
      (click)="navigateToPreviousQuestion(currentQuestion)"
    >
      {{ previousQuestionSymbol }}
    </button>
    <button
      [disabled]="isLastQuestion"
      (click)="navigateToNextQuestion(currentQuestion)"
    >
      {{ nextQuestionSymbol }}
    </button>
  </div>
</div>
<br />
<div *ngIf="isLastQuestion" class="result-button-container">
  <button [routerLink]="resultPageUrl">Your answers</button>
</div>
<div class="description-container">
  <p>{{ description }}</p>
</div>
<!-- <app-footer></app-footer> -->
