.result-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.question {
  text-align: center;
}

.hasNotAnswer {
  color: red;
}

.hasAnswer {
  color: greenyellow;
}
