<div>
  <div *ngIf="!isMultipleAnswerAllowed">
    <form [formGroup]="questionFormSingle">
      <div
        appDarkenDirective
        *ngFor="let choice of initialChoices"
        class="option-container"
      >
        <label>
          <input type="radio" formControlName="choice" [value]="choice.value" />
          {{ choice.label }}
        </label>
      </div>
    </form>
  </div>
  <div *ngIf="isMultipleAnswerAllowed">
    <!-- <form [formGroup]="questionFormMultiple">
      <div
        *ngFor="let choice of initialChoices; let i = index"
        class="option-container"
      >
        <label>
          <input type="checkbox" [formControlName]="initialChoices[i].label" />
          {{ choice.label }}
        </label>
      </div>
    </form> -->
    <form [formGroup]="questionFormContainer">
      <div formArrayName="options">
        <div [formGroup]="questionFormMultiple">
          <div
            *ngFor="let option of initialChoices; let i = index"
            class="option-container">
            <label>
              <input
                type="checkbox"
                [formControlName]="option.label"/>
              {{ option.label }}
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
